@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/RobotoCondensed-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair-Display';
  src: url('./assets/fonts/PlayfairDisplay-Black.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

$paragraph-font-stack: 'Roboto, sans-serif';
$header-font-stack: 'Playfair-Display serif';
