#container {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-flow: column nowrap;
}

#chords-list {
  flex: 1 0 20%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

#notes {
  flex: 1 0 50%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

h3 {
  color: #333;
  font-family: 'Abel', cursive;
  font-size: 2em;
  cursor: pointer;
  padding-bottom: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  transition: all 0.5s;
}

h3:hover {
  border-bottom-color:#3498db;
}

h2 {
  color: #3498db;
  font-family: 'Satisfy', cursive;
  font-size: 4em;
  margin: 64px auto;
  font-weight: 300;
}

.current{
  color: #3498db;
  border-bottom-color: #3498db;

}
