.bio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 75%;
  background: $white;

  //TODO: logic for if wider than tall
  .bio-content{
    display: flex;
    flex-flow: column nowrap;
    width: 50vw;
    height: 75vh;

    .pane{
      display: flex;
      flex: 1 0 auto;
      flex-flow: column wrap;
      padding-top: 3%;

      h1 {
        flex: 3 0 auto;
      }

      h2 {
        flex: 3 0 auto;
      }

      .heading{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
      }

      .content{
        display: none;
        height: 90%;
        padding-top: 1%;
        padding-left: 2%;
      }

      .expanded {
        display: flex;
      }

    }
  }

}
