.card{
  display:flex;
  justify-content: center;
  flex-flow: row nowrap;
  width:60vw;
  height:30vw;

  background-color: $black;

  .half{
    flex: 1 0 50%;
    background-color: $blue;

    display:flex;
    justify-content: center;
    align-items: stretch;
    flex-flow: column nowrap;
    text-align: center;

    p {
      color: $white;
      margin: 2%;
    }

    #skillsChart{
      width: 100%;
      height: 100%;
    }
  }

}
