.wrapper{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .credit{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.1 0 auto;
  }

  .container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
    flex: 1 0 auto;

    .profile{
      display: flex;
      justify-content: flex-end;
      flex:1 0 50%;
      height: 50vh;

      img {
        height:100%;
        transition: all $animation_time_short;
      }
    }

    .buttons{
      flex: 1 0 50%;
      display: flex;
      flex-flow: column;


      div{
        width:5vh;
        height:5vh;
        background: $gray;
        margin: 3% 7%;
      }

      .square{
        border-radius: 0;
      }

      .rounded{
        border-radius: 25%;
      }

      .circle{
        border-radius: 50%;
      }

      .active{
        background-color: $red;
      }
    }
  }
}
