.gallery{
  display: none;
  flex-flow: column nowrap;
  align-content: stretch;
  background: $gray;
  width: 75%;

  .grid{

    height: 100vh;

    .grid-row{

      .grid-item{

        background: $white;
        margin: $superThin;

        .tile{
          display: flex;
          flex: 1 0 auto;
          color: $black;
          justify-content: center;
          align-items: center;

          &:hover{
            background: $gray;
            color: $blackDarker;
          }

        }
      }
    }
  }
}
