main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 97vh;
    overflow: hidden;

    #login-container{
      transition-delay: 2s;
    }

    .login{
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      align-items: center;
      width: 40%;
      height: 80%;

      img {
        height:10vh;
        padding: 2%;
        transition: all 1s;
        border-radius: 50%;

        &:hover{
          background: $gray
        }
      }

      #login-form{
        display: none;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        flex: 2;
        opacity: 0;
        transition: all 1s;
        transition-delay: 1s;


        input{
          margin: 10%;
          padding-top: 10%;
          padding-bottom: 4%;
          border-top: 0;
          border-left: 0;
          border-right: 0;
          border-bottom: 3px solid #eee;
          font-size: larger;
          outline: none;
        }

        #submit-button{
          margin: 10%;
          padding: 4% 10%;
          background: #eee;
          border: none;
          font-size: larger;

        }
      }
    }
}

footer {
  width: 100vw;
  height: 3vh;
  background: $black;
  color: $gray;
}
