$black: rgb(42, 42, 42);
$blackDarker: rgb(21, 21, 21);

$blueDarker: #4183D7;
$blueDarkest: #446CB3;
$blue: #3498DB;
$blueLigther: #6BB9F0;

$gray: #DADFE1;

$orangeBrighter: #F89406;
$orange: #E67E22;

$whiter: #EEEEEE;
$white: #ECF0F1;

$primaryText: #ECF0F1;

$secondaryRow: rgb(42, 42, 42);
