@font-face {
  font-family: Znikomit;
  src: url("../assets/fonts/Znikomit.otf") format("opentype");
}

@font-face {
  font-family: Arsenal;
  src: url("../assets/fonts/Arsenal-Regular.otf") format("opentype");
}

@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-Regular.ttf");
}


.arrow-down{
  width: 0;
  height: 0;
  border-left: 1vw solid transparent;
  border-right: 1vw solid transparent;
  border-top: 1vw solid $black;
  margin-right: 5%;

  &:hover {
    opacity: 0.5;
  }
}

.arrow-up{
  width: 0;
  height: 0;
  border-left: 1vw solid transparent;
  border-right: 1vw solid transparent;
  border-bottom: 1vw solid $black;
  margin-right: 5%;

  &:hover {
    opacity: 0.5;
  }
}

$headingFont: 'Arsenal', sans-serif;
$subtitleFont: 'Znikomit', serif;
$paragraphFont: 'Roboto', serif;
